body {
    margin: 0;
    padding: 0;
    background: #000;
}

ul#kutular {
    margin: 0;
    padding: 0;
}

ul#kutular li {
    margin: 0;
    list-style: none;
    padding: 0;
}

.blok {
    background: #ffa900;
    display: inline-block;
    text-align: center;
    font: 11px arial;
    border-radius: 60px; /* Modificar el radio de borde para hacer los puntos más pequeños */
   
    margin: 0px;
    padding: 0;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
