body {
    margin: 0;
    padding: 0;
    background: #BABABA;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 70%;
    height: 30vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul#bgmouseE {
    margin: 0;
    padding: 0;
}

ul#bgmouseE li {
    list-style: none;
    padding: 0;
    
}

.bloque {
    background: #CFCFCF;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 0;
    transition: all .6s ease-out; 
}
